<div class="section-colored text-center">

  <h1>Welcome to the Doctor Patient Appointment Tracker!</h1>

  <div id="top" class="header">
    <h3><%= link_to "Doctors", doctors_path %></h3>
    <h3><%= link_to "Patients", patients_path %></h3>
  </div>

</div>
