<p id="notice"><%= notice %></p>

<p>
  <b>Day and time:</b>
  <%= @appointment.day_and_time %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
